{% extends 'base.html.twig' %}


{% block body %}
<h1>Bienvenue {{ name }}</h1>

{% if(age >= 18) %}
<p>Vous êtes majeur</p>
{% else %}
<p>Vous êtes mineur</p>
{% endif %}


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt accusamus delectus, quos distinctio facere itaque similique maxime facilis explicabo cupiditate quidem ad ut odit magni quisquam repellat voluptatum aspernatur.Inventore, vero doloribus saepe maiores minima, voluptas ab atque minus, harum corporis veritatis earum voluptatum modi numquam reiciendis non  voluptate totam neque natus debitis aspernatur hic. Cupiditate, suscipit consequatur?
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt accusamus delectus, quos distinctio facere itaque similique maxime facilis explicabo cupiditate quidem ad ut odit magni quisquam repellat voluptatum aspernatur.Inventore, vero doloribus saepe maiores minima, voluptas ab atque minus, harum corporis veritatis earum voluptatum modi numquam reiciendis non  voluptate totam neque natus debitis aspernatur hic. Cupiditate, suscipit consequatur?
</p>

{% endblock %}